*{
    background-color: rgb(8, 150, 175);
    margin-top: 50px;
    font-size: 35px;
}

.message {
    background-color: white;

}

.box {
align-items: center;
}


.btn  button:hover{
    color: rgb(5, 5, 5);

}